<head>
	<title> UBER-BoaVista-RR</title>
	<link rel="stylesheet" type="text/css" href="index.css.erb">

<body>
	<header width="100%" height="70" >
	<svg width="100%" height="70">

	<rect width="100" height="70" fill="orange">
	<animate attributename="x" values="0;1200;0" dur="20s" fill="freeze" repeatCount="indefinite"  />
	<animate attributename="fill" values="red;orange;yellow;green;blue;purple;blue;green;yellow;orange;red" dur="20s" fill="freeze" repeatCount="indefinite"  />
	
	</rect>
	<marquee> UBvTRACKER </marquee>
	</svg>

		<h1><b> MELHOR PERFORMANCE UBER EM BOA VISTA </b></h1>
	</header>

	<article>
	<p> </p>
	</article>
	<aside>
<h2> BAIRRO MAIS  VISITADOS </h2>
	 </aside>
	 <aside>
<h2> RANK DE MOTORISTA POR AVALIAÇAO </h2>
	 </aside>
	 <aside>
<h2> RANK DE MOTORISTA POR CORRIDA </h2>
	 </aside>
	 <aside>
<h2> NUMERO DE CORRIDA POR SEMANA </h2>
	 </aside>


	 
	


	<footer align= "center">
		<p> Projeto final em Linguagens de programaçao dos academicos <br> Ibukun Chife &&  Giovanna Monteiro<br>
		Copyrigth 2017<br> Contact: .</p>
	</footer>
</body>