<head>
	<title> UBER-BoaVista-RR</title>
</head>

<body background='/assets/images/logo/tec0.jpg'>
	<header align= 'center'>
		<h1><b> MELHOR PERFORMANCE UBER EM BOA VISTA </b></h1>
	</header>

	<article> </article>
	<aside> </aside>

	<footer>
		
	</footer>
</body>