body{
  background: image-url('4.jpg') no-repeat;
}

h1{
	box-shadow : 10px 10px 10px 10px;
	border-style: hidden;
	color:green;
	background: yellow;
	padding-box : 5px 5px 5px 5px;
	font-size: 150%;
	box-pack: center;
	alignment-adjust: central;
	text-align: center;
	display: block;

}

#Bairro{
	Box-sizing: 250px 250px
}

#RankMA{
	
}

#RankMC{
	
}

#NuCor{
	
}
